.jh-chosen { font-family: "Pretendard Variable", 'pretendard'; overflow: hidden;}
.jh-chosen .inner {width: 100%; max-width: 1200px; margin: 0 auto; position: relative; z-index: 0;}
 
#container .g_floating {display:inline-block;position:fixed; transition: 0.3s all;z-index:10;} 
#container .g_floating.desktop {top:200px; right: 260px;}
#container .g_floating.mob {display: none;}
#container .g_floating.desktop a {overflow:hidden;border-radius:10px;transition:0.3s all;position:absolute;}
#container .g_floating .cf_img {position:relative; z-index:1;}
#container .g_floating .txt {position:absolute; text-align:center;font-weight:800;color:#fff;}
#container .g_floating.desktop .txt {width:100%; font-size:19px; line-height:26px;z-index:3; bottom:48px; left:50%; transform: translate(-50%, 0%); padding-right: 5px;}
#container .g_floating .txt span{color:#e8c9a8}
#container .g_floating .txt img{margin-top: 7px;}
#container .g_floating:hover {-webkit-animation: bounce 0.35s ease-out alternate infinite; animation: bounce 0.35s ease-out alternate infinite;}
@-webkit-keyframes bounce {
    0% {-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
    100% {-webkit-transform: translate3d(0, -7px, 0); transform: translate3d(0, -7px, 0);}
}
@keyframes bounce {
    0% {-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
    100% {-webkit-transform: translate3d(0, -7px, 0); transform: translate3d(0, -7px, 0);}
}
.jh-chosen a.btn:hover{-webkit-transform: scale(1.025); -ms-transform: scale(1.025); transform: scale(1.025);}
.jh-chosen a.btn {transition: transform 0.4s ease-in-out; }
.jh-chosen a.btn::after {transition: 0.4s ease-in-out; }
.jh-chosen a.btn.big-brown {display: block; width: 410px; height: 100px; line-height: 98px; border-radius: 50px; font-size: 30px; color:#fff; font-weight: 800; background-image: linear-gradient(52deg,rgba(120, 63, 38, 1) 0%, rgba(56, 26, 9, 1) 90%); border: 3px solid #975a3f; padding-left: 40px; -webkit-box-shadow: 5px 5px 15px 5px rgba(163,133,86,0.41); 
box-shadow: 5px 5px 15px 5px rgba(163,133,86,0.41);}
.jh-chosen a.btn.small-brown {display: block; width: 400px; height: 100px; line-height: 98px; border-radius: 50px; font-size: 30px; color:#fff; font-weight: 800; background-image: linear-gradient(90deg,rgba(170, 102, 29, 1) 0%, rgba(130, 73, 12, 1) 90%);  border: 3px solid #a16321; padding-left: 40px;-webkit-box-shadow: 5px 5px 15px 5px rgba(49,40,26,0.12); 
box-shadow: 5px 5px 15px 5px rgba(49,40,26,0.12);}
 
.jh-chosen a.btn.big-brown::after,
.jh-chosen a.btn.small-brown::after {content: ""; display: block; position: absolute; right: min(4vw, 40px); top: 50%; transform: translateY(-55%); background-image: url('../images/btn_arrow.png'); width: min(5vw, 50px); height: min(5vw, 50px); background-size: contain; background-repeat: no-repeat; background-position: center center;}

.jh-chosen a.btn.small-brown::after {background-image: url('../images/btn_arrow_m.png');}


.jh-chosen a.btn.big-brown:hover::after,
.jh-chosen a.btn.small-brown:hover::after {right: min(3vw, 30px);}

.jh-chosen p {letter-spacing: -0.04em; font-family: "Pretendard Variable", 'pretendard'; margin-block-start:0; margin-block-end:0;}
.jh-chosen b {font-weight: 800;}
.jh-chosen strong {display: inline-block; font-weight: 800; background-color: #391502; color: #fff; padding: 6px; line-height: 100%;}
.jh-chosen strong.wh {color: #391502; background-color: #fff;}


.jh-chosen.desktop,
.jh-chosen .desktop {display: block;}
.jh-chosen.mob,
.jh-chosen .mob,
.jh-chosen .mob.inner {display: none !important;}
 

/* main */
.jh-chosen.overview.desktop {background-image: url("../images/overview_bg.png"); background-position: center top; height: 1065px;}
.jh-chosen.why {background-image: url("../images/why_bg.png"); background-position: center top; height: 845px; background-size: cover;}
.jh-chosen.lineBanner {background-image: url("../images/lineBanner_bg.png"); background-position: center top; height: 485px;}
.jh-chosen.partygo {background-image: url("../images/partygo_bg.png"); background-position: center top; height: auto; padding-bottom: 130px;}
.jh-chosen.gift {background-image: url("../images/gift_bg.png"); background-position: center top; max-height: 960px; padding-bottom: 154px;}
.jh-chosen.bgJh {background-image: url("../images/bgJh_left.png"); background-repeat: repeat; background-position: center top; background-size: 200px; height: 765px;}
.jh-chosen.chosenBtn {background-image: url("../images/chosenBtn_bg.png"); background-position: center top; height:auto; padding-bottom: 120px; background-size: cover;}
.jh-chosen.postcard.desktop {background-image: url("../images/postcard_bg.png"); background-position: center top; height: 895px; background-size: cover;}
.jh-chosen.kidsBox {background-image: url("../images/kidsBox_bg.png"); background-position: center top; height: auto; padding-bottom: 120px; background-size: cover;} 

.jh-chosen.overview.desktop {position: relative;}
.jh-chosen.overview.desktop > figure {position: absolute; bottom: 0; left: 45%;}
.jh-chosen.overview.desktop .inner {position: relative; z-index: 2;}
.jh-chosen.overview.desktop .inner .main-tit {padding-top: 280px;}
.jh-chosen.overview.desktop .inner .main-tit h1 p {color: #391502; font-size: 26px; line-height: 40px;}
.jh-chosen.overview.desktop .inner .main-tit h1 p b {font-size: 38px; font-weight: 800;}
.jh-chosen.overview.desktop .inner .main-tit h1 p + figure {margin-top: 48px;}
.jh-chosen.overview.desktop .inner .main-tit div {margin: 64px 0 54px; font-size: 24px; color: #391502; line-height: 1.6;}

.jh-chosen.why {position: relative;}
.jh-chosen.why figure.msg { position: absolute;left: 50%; margin-left: -675px; top: 290px; z-index: 2;}
.jh-chosen.why figure.jh { position: absolute; left: 50%; bottom: 0; margin-left: -620px;}
.jh-chosen.why > div {position: absolute; left: 50%; padding-left: min(6vw, 100px);  width: 50vw;}
.jh-chosen.why > div > p {font-size: clamp(16px, 2.4vw, 24px); line-height: 1.5; color: #391502; margin-top: 120px;}
.jh-chosen.why > div > p + p {margin-top: 45px;}

.jh-chosen.why .msg {height: 176px; margin-top: 68px; position: absolute;  }
.jh-chosen.why .msg:hover {cursor: pointer;}
.jh-chosen.why .msg .swiper-wrapper {height: 176px; position: relative;  transition-timing-function: ease}
.jh-chosen.why .msg .swiper-slide {height: 130px; transition: all 0.05s;  transition-timing-function: ease}
.jh-chosen.why .msg .swiper-slide div {border-radius: 40px; width: 480px; height: 130px; background-color: #faf8f6; border: 1px solid #ebe6de; display: flex; flex-wrap: wrap; align-items: center; padding:0 24px; gap: 12px; color: #391502; -webkit-box-shadow: 0px 2px 6px -1px rgba(49,40,26,0.09); box-shadow: 0px 2px 6px -1px rgba(49,40,26,0.09);}
.jh-chosen.why .msg .swiper-slide div p span {font-weight: 800; display: block;} 
.jh-chosen.why .msg .swiper-slide figure img {width: 80px; height: 80px;} 
.jh-chosen.why .msg .swiper-slide.swiper-slide-prev {z-index: 3;}
.jh-chosen.why .msg .swiper-slide.swiper-slide-active {z-index: 2;}
.jh-chosen.why .msg .swiper-slide.swiper-slide-next {z-index: 1;}

.jh-chosen.why .msg .swiper-slide:not(.swiper-slide-prev, .swiper-slide-active, .swiper-slide-next) {opacity: 0;}

.jh-chosen.lineBanner {text-align: center; font-size: 32px; color: #fff; display: flex; align-items: center; justify-content: center;}

.jh-chosen.partygo h2 {padding-top: 150px; text-align: center;}
.jh-chosen.partygo h2 + p {font-size: 32px; color: #f8efe6; text-align: center; margin: 50px 0 30px; font-weight: 800;}
.jh-chosen.partygo h2 + p br {display: none;}
.jh-chosen.partygo h2 + p span {color: #c9a985;}
.jh-chosen.partygo figure {text-align: center;}
.jh-chosen.partygo figure img {width: 100%; max-width: 1300px;}
.jh-chosen.partygo .inner {display: flex; align-items: center; justify-content: space-between; margin-top: 50px;}
.jh-chosen.partygo .inner p {color: #f8efe6; font-size: min(4.1vw, 32px);}

.video-container {position: relative; width: 570px;  height: 319px;overflow: hidden; border-radius: min(2.6vw, 26px);}
.video-container iframe {position: absolute; top: 0;left: 0;width: 100%; height: 100%;}


.jh-chosen.theychoose.desktop {background-color: #f6f0ef; height: 958px; position: relative;}
.jh-chosen.theychoose.desktop > p {font-size: 30px; color: #391502; position: absolute; left: 50%; margin-left: 115px; margin-top: 190px;}
.jh-chosen.theychoose.desktop .chosenBig {width: 100%; max-width: 50vw; overflow: hidden;}
.jh-chosen.theychoose.desktop .chosenBig .swiper-slide {width: 100%; height: 958px; background-position: center center; background-size: cover;}
.jh-chosen.theychoose.desktop .chosenSmall {position: absolute; width: 1200px; top: 500px; left: 50%; margin-left: -62px; overflow: hidden;}

.jh-chosen.theychoose .swiper-button-next,
.jh-chosen.theychoose .swiper-button-prev {background-image: url('../images/theychoose_arr.png'); background-repeat: no-repeat; z-index: 3; background-size: 100%; }
.jh-chosen.theychoose .swiper-button-next {transform: rotate(180deg);}

.jh-chosen.theychoose.desktop .chosenBig .swiper-button-next,
.jh-chosen.theychoose.desktop .chosenBig .swiper-button-prev {width: 51px; height: 51px; margin-left: 115px; top: 785px; left:50%; }
.jh-chosen.theychoose.desktop .chosenBig .swiper-button-next {margin-left: 177px;}

.jh-chosen.gift .inner {width: 100%; max-width: 1748px; padding: 0 64px;}
.jh-chosen.gift .inner h3 {font-size: 34px; color: #fff; text-align: center; padding: 140px 0 64px;}
.jh-chosen.gift .inner ul {display: flex; gap: 20px;}
.jh-chosen.gift .inner ul li figure img {width: 100%;}

.jh-chosen.bgJh.desktop .leftBox {position: absolute; left: 50%; margin-left: -600px; width: 600px;  color: #391502;z-index: 3;}
.jh-chosen.bgJh.desktop .leftBox > p {font-size: 30px; text-align: center; color: #391502; padding-top: 100px;}
.jh-chosen.bgJh.desktop .leftBox > p + p {padding-top: 30px;}
.jh-chosen.bgJh.desktop .leftBox ul { width: 500px; margin: 60px auto 0;}
.jh-chosen.bgJh ul li {background-color: #faf8f6; border: 1px solid #ebe6de; border-radius: 40px;  height: 130px; display: flex; justify-content: flex-start; align-items: center; padding-left: 30px; gap: 28px;}
.jh-chosen.bgJh ul li + li{margin-top: 30px;}
.jh-chosen.bgJh ul li span {font-weight: 800; font-size: 16px; color: #391502;} 
.jh-chosen.bgJh ul li p {font-size: 20px; margin-top: 8px; line-height: 24px;}
.jh-chosen.bgJh ul li p + small {font-size: 15px;}
.jh-chosen.bgJh.desktop .rightBox {width: 50%; height: 765px; left: 50%; position: absolute; background-position: left top ;}
.jh-chosen.bgJh.desktop .bg-animate::before {background-image: url('../images/bgJh_bg1.png'); background-size: cover; }
.jh-chosen.bgJh.desktop .bg-animate::after {background-image: url('../images/bgJh_bg2.png'); background-size: cover;}

.bg-animate {position: relative;  background-repeat: no-repeat;  width: 100%;  height: auto;  overflow: hidden;}
.bg-animate::before,
.bg-animate::after {  content: "";  position: absolute;  inset: 0;  display: block;  background-size: cover;  background-repeat: no-repeat;    transition: opacity 1s; z-index: 0;
}

.bg-animate::before { opacity: 1; }
.bg-animate::after  { opacity: 0; }
.bg-animate.active::before { opacity: 0; }
.bg-animate.active::after  { opacity: 1; }

.jh-chosen.chosenBtn h2 {text-align: center; padding: 140px 0 40px;}
.jh-chosen.chosenBtn h2 img {max-width: 82%;}
.jh-chosen.chosenBtn .c_picture {display: flex; justify-content:center; max-width: 94%; margin: 0 auto;}
.jh-chosen.chosenBtn .c_picture figure {position: relative;}
.jh-chosen.chosenBtn .c_picture figure img {width: 100%;}
.jh-chosen.chosenBtn .c_picture figure:last-child {margin-left: -140px;}
.jh-chosen.chosenBtn .c_txt p {font-size: min(4.7vw, 30px); text-align: center; color: #f8efe6; padding-bottom: 48px;}
.jh-chosen.chosenBtn .c_txt .btn {margin: 0 auto;}

.jh-chosen.postcard.desktop h2 {text-align: center; padding: 140px 0 50px;}
.jh-chosen.postcard.desktop .inner dl {display: flex;}
.jh-chosen.postcard.desktop .inner dl dt {position: relative; width: 50%;}
.jh-chosen.postcard.desktop .inner dl dt figure {position: absolute;}
.jh-chosen.postcard.desktop .inner dl dt figure.jh {left: 240px; margin-top: 3px;}
.jh-chosen.postcard.desktop .inner dl dd {width: 600px; position: absolute; right: 0;}
.jh-chosen.postcard.desktop .inner dl dd p {font-size: 30px; color: #391502; text-align: center; padding-top: 30px;}
.jh-chosen.postcard.desktop .inner dl dd p + p {padding: 30px 0 60px;}
.jh-chosen.postcard.desktop .inner dl dd a {margin: 0 auto;}
.jh-chosen.postcard.desktop .inner dl dd small {display: block; font-size: 17px; margin-top: 30px; text-align: center;}

.jh-chosen.kidsBox h2 {color: #f8efe6; font-size: 36px; font-weight: 800; text-align: center; padding: 120px 0 60px;}
.jh-chosen.kidsBox div ul {display: flex; justify-content: space-between;}
.jh-chosen.kidsBox div ul li {text-align: center; color: #f8efe6;}
.jh-chosen.kidsBox div ul li:nth-child(2) {padding: 0 16px;}
.jh-chosen.kidsBox div ul li img {width: 100%;}
.jh-chosen.kidsBox div ul li h3 {font-size: 26px; font-weight: 800; margin-top: 34px;}
.jh-chosen.kidsBox div ul li p {font-size: 18px; line-height: 28px; margin-top: 16px;}


/* faqBox */
.jh-chosen.faqBox {background:#f4f0ea;}
.jh-chosen.faqBox h2 {font-size: min(5.6vw, 40px); padding: min(11vw, 115px) 0 min(5vw, 54px) 0; text-align: center; color: #391502; font-weight: 800;}
.jh-chosen.faqBox .img-list {display: flex;}
.jh-chosen.faqBox .img-list li {padding: 24px;}
.jh-chosen.faqBox .img-list li img {height: min(32vw, 303px);}

.jh-chosen.faqBox .partyover {font-size: min(4.4vw, 20px); color: #391502;line-height: 1.4; text-align: center; padding-bottom: min(12vw, 120px);}
.jh-chosen.faqBox .partyover strong {font-weight: 800;}

.tab-main {position: relative;width: 100%; padding-bottom: min(7vw, 60px);}
.tab-main input[type='radio'] {display: none;}
.tab-main .tab-main-nav {width: 100%;display: flex;justify-content: center;}
.tab-main .tab-main-nav .inBox {width: min(100%, 600px); margin: 0 auto; background: #fff; border-radius: 30px; display: flex;  box-shadow:1px 1px 10px 5px rgba(3, 24, 41, 0.02);}
.tab-main .tab-main-nav a {width: 50%; border-radius:30px; background-color: #fff;font-size: 24px;font-weight:800;text-align: center;cursor: pointer;transition: all .3s ease 0s;}
.tab-main .tab-main-nav a:last-child{margin-right:0;}
.tab-main .tab-main-nav a label { border-radius:100px; display: block; color: #391502; height: 60px; line-height: 60px;  }
.tab-main .tab-main-content {overflow: hidden;display: none;margin-top:min(5vw, 50px)}
.tab-main input[id='tab1']:checked ~ .tab-main-nav label[for='tab1'], 
.tab-main input[id='tab2']:checked ~ .tab-main-nav label[for='tab2'] {background:#bb8c5a;color:#fff;}
.tab-main input[id='tab1']:checked ~ div.tab-1, 
.tab-main input[id='tab2']:checked ~ div.tab-2 {display: block;} 
.acc-warp .accordion .acc-box {border-radius: min(3vw, 15px);background:#fff;margin:0 0 15px 0;padding:min(6vw, 30px) min(3.5vw, 35px);box-shadow:1px 1px 10px 5px rgba(3, 24, 41, 0.02); position:relative;} 
.acc-warp .accordion .acc-box .tit{font-size: min(4.8vw, 28px); color:#bb8c5a;font-weight:800;margin-right:min(2.4vw, 35px);line-height: 1.3;} 
.acc-warp .accordion .acc-box .tit + p {color: #391502; line-height: 1.4;}
.acc-warp .accordion .acc-box .acc-tab {text-align: left;}
.acc-warp .accordion .acc-box .acc-q {font-size: min(4.5vw, 24px); margin-bottom:30px;  font-weight:800;cursor:pointer;position:relative;}
.acc-warp .accordion .acc-box .arrow {background-image: url(../images/faq_arr.jpg);position: absolute;transform: translate(0%, -50%);width:clamp(15px, 2.8vw, 25px);height:clamp(15px, 2.8vw, 25px);right: 3%;top:50%;background-size: cover;background-repeat: no-repeat;}
.acc-warp .accordion .acc-box .acc-a {display:none; font-size: min(4.2vw, 20px); overflow: hidden;transition: height 0.2s ease, opacity 0.2s ease; padding-top: 3%;}
.acc-warp .accordion .acc-box .tit_all {display:flex;align-items: center; color:#391502; padding-right: 40px; align-items: flex-start;}
.acc-warp .accordion .acc-box.on .acc-a .a-cont{display:flex; border-top: 1px solid #eef4ea; padding-top: 3%;}
.acc-warp .accordion .acc-box.on .arrow {transform:rotate(180deg); top: min(8.4vw, 40px);}
.acc-warp .accordion .acc-a .a-cont {  display: none;}
.acc-warp .accordion .acc-box.on .acc-a {  display: block;}
.acc-warp .accordion .acc-box.on .acc-a .a-cont {  display: flex;}

 

@media screen and (max-width: 1480px) {
    #container .g_floating.desktop {top: 150px; right: 210px;}
    .jh-chosen .inner {padding: 0 40px;}
    
    .jh-chosen.overview.desktop {height: 74vw; background-size: cover;}
    .jh-chosen.overview.desktop > figure {left: 40%;}
    .jh-chosen.overview.desktop > figure img {width: 57.2vw;}
    .jh-chosen.overview.desktop .inner .main-tit {padding-top: 21vw;}
    .jh-chosen.overview.desktop .inner .main-tit h1 p + figure {margin-top: 3.3vw;}
    .jh-chosen.overview.desktop .inner .main-tit h1 p + figure img {height: 6.8vw;}

    .jh-chosen.why {height: 710px;}
    .jh-chosen.why figure.msg {margin-left:-490px; top: 272px; width: 190px;}
    .jh-chosen.why figure.jh {  width: 490px; margin-left: -480px;}
    .jh-chosen.why figure > img {width: 100%;}
    .jh-chosen.why > div > p {margin-top: 80px;}
 
    .jh-chosen.why > div > p + p {margin-top: 17px;}
    .jh-chosen.why div.msg {margin-top: 4vw;}
    .jh-chosen.why div.msg .swiper-slide div {width: 100%;}

}

@media screen and (max-width: 1280px) { 
    .jh-chosen.overview.desktop .inner .main-tit {padding-top: 17vw;}
    .jh-chosen.theychoose.desktop {height: 760px;}
    .jh-chosen.theychoose.desktop > p {margin-left: 15px; margin-top: 100px; font-size: min(2.8vw,30px);}
    .jh-chosen.theychoose.desktop .chosenSmall {top: 360px;}
    .jh-chosen.theychoose.desktop .chosenBig {width: 44vw;}
    .jh-chosen.theychoose.desktop .chosenBig .swiper-slide {height: 760px; background-size: cover;}
    .jh-chosen.theychoose.desktop .chosenSmall {margin-left: calc(-62px - 6vw);}
    .jh-chosen.theychoose.desktop .chosenBig .swiper-button-prev {margin-left: 15px; top: 645px;}
    .jh-chosen.theychoose.desktop .chosenBig .swiper-button-next {margin-left: 77px; top: 645px;}

    .jh-chosen.bgJh.desktop {height: 690px;}
    .jh-chosen.bgJh.desktop .rightBox {height: 690px; width: 45%; left:55%;}
    .jh-chosen.bgJh.desktop .bg-animate::before {background-position: left 15% top ;}
    .jh-chosen.bgJh.desktop .leftBox {width: 55%; margin-left: 0; left: 0;}
    .jh-chosen.bgJh.desktop .leftBox > p {padding-top: 60px;}
    .jh-chosen.bgJh.desktop .leftBox > p + p {padding-top: 20px;}
    .jh-chosen.bgJh.desktop .leftBox ul {margin-top: 40px;}
    
}

@media screen and (max-width: 1200px) {
    .jh-chosen.partygo h2 img {width: 80vw;} 
    .jh-chosen.postcard.desktop .inner dl dt figure {left: 10%;}
    .jh-chosen.postcard.desktop .inner dl dt figure img {width: 29vw;}
    .jh-chosen.postcard.desktop .inner dl dt figure.jh {left: 29%; top: 65px;}
    .jh-chosen.postcard.desktop .inner dl dt figure.jh img {width: 30vw; }

    
}

@media screen and (max-width: 980px) {
    .jh-chosen .inner {padding: 0 4.1vw;}
    .jh-chosen strong {padding: 0.8vw;}

    .jh-chosen a.btn.big-brown {width: min(68.7vw, 687px); height: min(16.8vw, 168px); font-size: min(4.8vw, 48px); border-width: 1px; line-height:  min(16.8vw, 168px); padding-left:7.7vw; border-radius: 100px; }
    .jh-chosen a.btn.big-brown::after {width: min(7.6vw, 70px); right: min(7vw, 78px);}
    .jh-chosen a.btn.big-brown:hover::after {right: min(5.5vw, 65px);} 
    
    .jh-chosen a.btn.small-brown {width: min(68.7vw, 687px); height: min(16.8vw, 168px); font-size: min(4.8vw, 48px) ; border-width: 1px; line-height:  min(16.8vw, 168px); padding-left:7.7vw; border-radius: 100px;}
    .jh-chosen a.btn.small-brown::after {width: min(7vw, 70px); right: min(7vw, 71px);}
    .jh-chosen a.btn.small-brown:hover::after {right: min(5.5vw, 65px);} 

    .jh-chosen.overview.desktop {display: none;}
    .jh-chosen.overview.mob {display: block !important; background-image: url('../images/overview_bg_m.png'); padding: 11vw 0; background-size: cover;}
    .jh-chosen.overview.mob h1 {text-align: center; color: #391502;}
    .jh-chosen.overview.mob h1 p {font-size: min(4vw, 28px); padding-bottom: 2vw;}
    .jh-chosen.overview.mob h1 p b {font-size: min(4.9vw, 32px);}
    .jh-chosen.overview.mob h1 figure img {width: min(79vw, 720px);}
    .jh-chosen.overview.mob .inner {text-align: center;}
    .jh-chosen.overview.mob .inner figure {padding-top: 5vw;}
    .jh-chosen.overview.mob .inner figure img {width: 80vw;}
    .jh-chosen.overview.mob .inner div {color: #391502; font-size: min(4.9vw, 32px); padding-bottom: 6vw; position: relative; margin-top: -12vw;}
    .jh-chosen.overview.mob .inner a {margin: 0 auto; text-align: left;}

    .jh-chosen.why {display: block !important; height: auto; padding-bottom: 12vw; background-image: url('../images/why_bg1_m.png'); background-size: 30vw; background-repeat: repeat; position: relative;}
    .jh-chosen.why figure.msg {position: absolute; z-index: 2; top: 37vw; left: 50%; margin-left: -44vw;}
    .jh-chosen.why figure.msg img {width: 37vw;}
    .jh-chosen.why figure.jh {position: relative; width: 100%; left: 0; margin-left: 0; background-image: url('../images/why_bg2_m.png'); text-align: center; padding-top: 8vw; overflow: hidden; height: 100vw; background-size: 10vw;}
    .jh-chosen.why figure.jh img {width: 76vw; margin-left: 10vw;}
    .jh-chosen.why > div {padding: 0 7vw; position: relative; width: 100%; left: 0;}
    .jh-chosen.why > div > p {color: #391502; font-size: min(4.9vw, 32px); margin-top: 9vw; padding: 0 1vw; line-height: 1.5;}
    .jh-chosen.why > div > p + p {margin-top: 3vw;}
    .jh-chosen.why > div > p .hide_mo {display: none;}

    .jh-chosen.why .msg {position: relative; height: calc(13vw + 60px); margin-top: 7vw;}
    .jh-chosen.why .msg .swiper-slide div {border-radius: min(5vw, 50px); width: 100%; padding: 2.4vw 3vw; gap: 2.2vw; height: auto;  }
    .jh-chosen.why .msg .swiper-slide div p {font-size: min(3.2vw, 28px);}
    .jh-chosen.why .msg .swiper-slide div p span {font-weight: 800; display: block;}
    .jh-chosen.why .msg .swiper-slide figure img {width: min(14vw, 80px); height: min(14vw, 80px);}
        
    .jh-chosen.why > div.msgInner {margin-top: 5vw; padding: 0 6vw; }
    .msgMobile .swiper-wrapper {height: 176px; position: relative;}
    .msgMobile .swiper-slide {height: 130px; }
    .msgMobile .swiper-slide div {border-radius: min(5vw, 50px); width: 100%; height: auto; background-color: #faf8f6; border: 1px solid #ebe6de; display: flex; flex-wrap: wrap; align-items: center; padding: 2.4vw 3vw; gap: 2.2vw; color: #391502; -webkit-box-shadow: 0px 8px 14px -1px rgba(49,40,26,0.1); box-shadow: 0px 8px 14px -1px rgba(49,40,26,0.1);}
    .msgMobile .swiper-slide div p {font-size: min(3.6vw, 28px);}
    .msgMobile .swiper-slide div p span {font-weight: 800; display: block;}
    .msgMobile .swiper-slide-prev {z-index: 3; transition: 0.2s; }
    .msgMobile .swiper-slide-active {z-index: 2; transition: 0.2s; }
    .msgMobile .swiper-slide-next {z-index: 1; transition: 0.2s;  }
    .msgMobile .swiper-slide:not(.swiper-slide-prev, .swiper-slide-active, .swiper-slide-next) {opacity: 0;}

    
    .jh-chosen.theychoose.desktop {display: none;}
    .jh-chosen.theychoose.mob {display: block !important; background-color: #f6f0ef; padding-bottom: 21vw;}
    .jh-chosen.theychoose.mob p {padding: 12vw 7.6vw 6vw; font-size: min(4.9vw, 32px); color: #391502;}
    .chosenMob {position: relative;  padding: 0 7.6vw; }
    .chosenMob .swiper-slide {border-radius: 30px; overflow: hidden;}
    .chosenMob .swiper-slide img {width: 100%;}
    .chosenMob .swiper-button-prev,
    .chosenMob .swiper-button-next {width: min(8.9vw, 51px); height: min(8.9vw, 51px);}    
    .chosenMob .swiper-button-prev {left: min(5vw, 50px);}
    .chosenMob .swiper-button-next {right: min(5vw, 50px);}
    .chosenMob .swiper-pagination {bottom: min(-10vw, 100px);}
    .chosenMob .swiper-pagination .swiper-pagination-bullet {width: min(10vw, 96vw); height: min(2.2vw, 22px); background-color: #beada3; border-radius: 10px; margin: 0 6px; opacity: 1;} 
    .chosenMob .swiper-pagination .swiper-pagination-bullet-active { background-color: #391602;}

    .jh-chosen.partygo {background-image: url("../images/partygo_bg_m.png"); padding-bottom: 11vw; background-size: cover;}
    .jh-chosen.partygo h2 {padding: min(13vw, 150px) 0 0;}
    .jh-chosen.partygo h2 + p {font-size: min(4.9vw, 32px); margin: min(5vw, 50px) 0 min(3vw, 30px);}
    .jh-chosen.partygo h2 + p br {display: block;}
    .jh-chosen.partygo .inner p.desktop {display: none;}
    .jh-chosen.partygo .inner {display: block !important; padding: 0vw 9vw 0; margin-top: 5vw;}
    .jh-chosen.partygo .inner p.mob {text-align: center; color: #fffff8; display: flex !important; align-items: center; justify-content: center; margin-top: 3vw;}
    .jh-chosen.partygo .inner p.mob span {font-weight: 800; color: #dbb895; margin: 0 1.1vw;}
    .jh-chosen.partygo .inner p.mob img {width: min(3vw, 28px); margin-left: min(1.6vw, 16px);}

    
    .video-container {width: 100%; padding-top: 56.25%; height: 0;} 



    .jh-chosen.lineBanner {height: auto; padding: min(9.7vw, 120px) 0; background-size: cover; }
    .jh-chosen.lineBanner p {font-size: min(4.9vw, 32px);}

    .jh-chosen.bgJh.desktop {display: none;}
    .jh-chosen.bgJh.mob {display: block !important; padding: 11vw 0 ; height: auto;background-size: 10vw; background-position: left 0 top 0;} 
    .jh-chosen.bgJh.mob p {text-align: center; color: #391502; font-size: min(4.9vw, 32px); }
    .jh-chosen.bgJh.mob p + p {margin-top: 4vw;}
    .jh-chosen.bgJh.mob > figure {text-align: center; margin-top: 5vw;}
    .jh-chosen.bgJh.mob > figure > img {width: 80vw;  }
    .jh-chosen.bgJh.mob ul {margin: 0 7.4vw;}
    .jh-chosen.bgJh.mob ul li {height: auto; padding:  min(4vw, 22px); gap: 4vw; border-radius: 4vw; -webkit-box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.09); 
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.09);}
    .jh-chosen.bgJh.mob ul li figure img {width: min(13vw, 140px); height: auto;}
    .jh-chosen.bgJh.mob ul li span {font-size: min(3vw, 22px); }
    .jh-chosen.bgJh.mob ul li + li {margin-top: 3vw;}
    .jh-chosen.bgJh.mob ul li div {padding-bottom: 1vw;}
    .jh-chosen.bgJh.mob ul li p {font-size: min(4.2vw, 30px); text-align: left; line-height: 1.3;margin-top: 0.4vw;}
    .jh-chosen.bgJh.mob ul li p + small {font-size: min(3vw, 22px);color: #391502; display: block;}

    .jh-chosen.gift {height: auto; max-height: 100%; padding-bottom: 12vw; background-image: url('../images/gift_bg_m.png'); background-size: cover;}
    .jh-chosen.gift .inner {padding: 0 7.3vw;}
    .jh-chosen.gift .inner h3 {font-size: min(4.9vw, 32px); padding: 12.1vw 0 6vw;}
    .jh-chosen.gift .inner ul {display: block;}
    .jh-chosen.gift .inner ul li:nth-child(1) {display: none;}
    .jh-chosen.gift .inner ul li:last-child {margin-top: 7vw;}

    .jh-chosen.chosenBtn {padding-bottom: 12vw;}
    .jh-chosen.chosenBtn h2.desktop {display: none;}
    .jh-chosen.chosenBtn h2.mob {display: block !important; padding: 11vw 0 4vw;}
    .jh-chosen.chosenBtn h2.mob img {max-width: 68vw;}
    .jh-chosen.chosenBtn .c_txt p {padding: 2vw 0 7vw;}

    .jh-chosen.chosenBtn .c_picture figure:last-child {margin-left: -7vw;}

    .jh-chosen.postcard.desktop {display: none;}
    .jh-chosen.postcard.mob {display: block !important; background-image: url("../images/postcard_bg_m.png"); background-position: center top; background-repeat: repeat-x; height: auto; padding-bottom: 11.3vw; background-size: contain;}
    .jh-chosen.postcard.mob h2 {text-align: center; padding-top: 11.7vw;}
    .jh-chosen.postcard.mob h2 img {width: 86%;}
    .jh-chosen.postcard.mob dl {padding-top: 5.7vw;}
    .jh-chosen.postcard.mob dl dt {position: relative;}
    .jh-chosen.postcard.mob dl dt figure {position: relative; left: 50%; width: 54vw; margin-left: -46vw;}
    .jh-chosen.postcard.mob dl dt figure img {width: 100%;}
    .jh-chosen.postcard.mob dl dt figure.jh {position: absolute; width: 57vw; top: 0; margin-left: -8vw;}
    .jh-chosen.postcard.mob dl dd p {font-size: min(4.9vw,32px); color: #391602; text-align: center; margin-top: 8.1vw;}
    .jh-chosen.postcard.mob dl dd p + p {margin-top: 3.2vw;}
    .jh-chosen.postcard.mob dl dd a {margin: 7.3vw auto 0; display: block;} 
    .jh-chosen.postcard.mob dl dd small {font-size: 3.4vw; display: block; text-align: center; margin-top: 3.4vw; color: #391502;}

    .jh-chosen.kidsBox {padding-bottom: 11.3vw; background-image: url('../images/kidsBox_bg_m.png'); background-size: cover;}
    .jh-chosen.kidsBox h2 {font-size: min(5.4vw, 40px); padding: 11.3vw 0 6.5vw;}
    .jh-chosen.kidsBox div ul {flex-direction: column; gap: 10vw;}
    .jh-chosen.kidsBox div ul li {display: flex; text-align: left; gap: 8vw; align-items: center;}
    .jh-chosen.kidsBox div ul li figure {border-radius: 40px; width: 24.3vw;}
    .jh-chosen.kidsBox div ul li figure.desktop {display: none;}
    .jh-chosen.kidsBox div ul li figure.mob {display: block !important;}
    .jh-chosen.kidsBox div ul li figure img {width: 100%;}
    .jh-chosen.kidsBox div ul li:nth-child(2) {padding: 0;}
    .jh-chosen.kidsBox div ul li h3 {margin-top: 0; font-size: min(4.2vw, 26px);}
    .jh-chosen.kidsBox div ul li p {width: 51vw; margin-top: 0.8vw; font-size: min(3.4vw, 19px); line-height:  1.55;}
    .jh-chosen.kidsBox div ul li p br {display: none;}
    .jh-chosen.kidsBox .inner > div {max-width: 640px; width: 100%; margin: 0 auto;}

        
    #container .g_floating.desktop {display: none;}
    #container .g_floating.mob {display: block; width: 100%; bottom: 1vw; text-align: center;}
    #container .g_floating.mob .cf_img img {width: 90vw; max-width: 480px;}
    #container .g_floating.mob .txt { font-size: min(4.9vw, 28px); position: absolute; transform: translateX(-35%); left: 50%; top: min(6.9vw, 39px); z-index: 11; line-height: min(15.4vw, 76px);}
    .tab-main .tab-main-nav .inBox,
    .tab-main .tab-main-nav a {border-radius: 50px;}

    .acc-warp .accordion .acc-box {margin-bottom: min(2.7vw, 15px); padding: min(6.5vw, 25px);}
    .acc-warp .accordion .acc-box .arrow {width: 15px; height: 15px;}
    .acc-warp .accordion .acc-box .acc-a,
    .acc-warp .accordion .acc-box .tit + p {font-size: min(4vw, 21px);}
    .acc-warp .accordion .acc-box .arrow {right: 26px;}
    .tab-main .tab-main-content {margin-top: min(6vw, 25px);} 
    .tab-main .tab-main-nav a label {height: min(10vw, 90px); line-height: min(10vw, 90px);}
    .tab-main .tab-main-nav a {font-size: min(4.5vw, 24px);}

}


@media screen and (max-width: 768px) {
    .jh-chosen.faqBox .partyover br {display: none;}
    
    .jh-chosen.why .msg {height: 25vw;}

}
