.jh-chosen { font-family: "Pretendard Variable", 'pretendard'; overflow-x: hidden;}
.jh-chosen .inner {width: 100%; max-width: 1200px; margin: 0 auto; position: relative; z-index: 0;}
 
#container .g_floating {display:inline-block;position:fixed; top:200px; right: 260px;transition: 0.3s all;z-index:10;text-align: right;} 
#container .g_floating a {overflow:hidden;border-radius:10px;transition:0.3s all;position:absolute;}
#container .g_floating .cf_img {position:relative; z-index:1;}
#container .g_floating .txt {position:absolute; font-size:19px; line-height:26px;text-align:center;font-weight:700;color:#fff;width:100%;z-index:3; bottom:48px; left:50%; transform: translate(-50%, 0%); padding-right: 5px;}
#container .g_floating .txt span{color:#e8c9a8}
#container .g_floating .txt img{margin-top: 7px;}
#container .g_floating:hover {-webkit-animation: bounce 0.35s ease-out alternate infinite; animation: bounce 0.35s ease-out alternate infinite;}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -7px, 0);
        transform: translate3d(0, -7px, 0);
    }
}
@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -7px, 0);
        transform: translate3d(0, -7px, 0);
    }
}
 

.jh-chosen a.btn:hover{-webkit-transform: scale(1.025); -ms-transform: scale(1.025); transform: scale(1.025);}
.jh-chosen a.btn {transition: transform 0.4s, -webkit-transform 0.4s;}
.jh-chosen a.btn.big-brown {display: block; width: 410px; height: 100px; line-height: 94px; border-radius: 50px; font-size: 30px; color:#fff; font-weight: 400; background-image: url('../images/btn_arrow.png'), linear-gradient(52deg,rgba(120, 63, 38, 1) 0%, rgba(56, 26, 9, 1) 90%);
 background-repeat: no-repeat; background-position: right 10% top 50%; border: 3px solid #975a3f; padding-left: 40px;}
.jh-chosen a.btn.small-brown {display: block; width: 400px; height: 100px; line-height: 94px; border-radius: 50px; font-size: 30px; color:#fff; font-weight: 400; background-image: url('../images/btn_arrow.png'), linear-gradient(52deg,rgba(170, 102, 29, 1) 0%, rgba(130, 73, 12, 1) 90%);
 background-repeat: no-repeat; background-position: right 10% top 45%; border: 3px solid #a16321; padding-left: 40px;}

.jh-chosen p {letter-spacing: -0.04em;}
.jh-chosen b {font-weight: 800;}
.jh-chosen strong {display: inline-block; font-weight: 800; background-color: #391502; color: #fff; padding: 6px; line-height: 100%;}
.jh-chosen strong.wh {color: #391502; background-color: #fff;}
 

/* main */
.jh-chosen.overview {background-image: url("../images/overview_bg.png"); background-position: center top; height: 1065px;}
.jh-chosen.why {background-image: url("../images/why_bg.png"); background-position: center top; height: 845px;}
.jh-chosen.lineBanner {background-image: url("../images/lineBanner_bg.png"); background-position: center top; height: 485px;}
.jh-chosen.partygo {background-image: url("../images/partygo_bg.png"); background-position: center top; height: 1680px;}
.jh-chosen.gift {background-image: url("../images/gift_bg.png"); background-position: center top; max-height: 960px; padding-bottom: 154px;}
.jh-chosen.bgJh {background-image: url("../images/bgJh_bg.png"); background-repeat: repeat; background-position: center top; height: 770px;}
.jh-chosen.chosenBtn {background-image: url("../images/chosenBtn_bg.png"); background-position: center top; height:auto; padding-bottom: 120px; background-size: cover;}
.jh-chosen.postcard {background-image: url("../images/postcard_bg.png"); background-position: center top; height: 895px;}
.jh-chosen.kidsBox {background-image: url("../images/kidsBox_bg.png"); background-position: center top; height: auto; padding-bottom: 120px; background-size: cover;} 

.jh-chosen.overview {position: relative;}
.jh-chosen.overview > figure {position: absolute; bottom: 0; left: 45%;}
.jh-chosen.overview .inner {position: relative; z-index: 2;}
.jh-chosen.overview .inner .main-tit {padding-top: 280px;}
.jh-chosen.overview .inner .main-tit h1 p {color: #391502; font-size: 26px; line-height: 40px;}
.jh-chosen.overview .inner .main-tit h1 p b {font-size: 38px; font-weight: 800;}
.jh-chosen.overview .inner .main-tit h1 p + figure {margin-top: 48px;}
.jh-chosen.overview .inner .main-tit div {margin: 64px 0 54px; font-size: 24px; color: #684d3d; line-height: 1.6;}

.jh-chosen.why {position: relative;}
.jh-chosen.why figure.msg { position: absolute;left: 50%; margin-left: -675px; top: 250px; z-index: 2;}
.jh-chosen.why figure.jh { position: absolute; left: 50%; bottom: 0; margin-left: -620px;}
.jh-chosen.why > div {position: absolute; left: 50%; padding-left: min(6vw, 100px);  width: 50vw;}
.jh-chosen.why > div > p {font-size: clamp(16px, 2.4vw, 24px); line-height: 1.5; color: #391502; margin-top: 120px;}
.jh-chosen.why > div > p + p {margin-top: 45px;}

.jh-chosen.why .msg {height: 176px; margin-top: 68px; position: absolute; overflow: hidden;}
.jh-chosen.why .msg .swiper-wrapper {height: 176px; position: relative;}
.jh-chosen.why .msg .swiper-slide {height: 130px;}
.jh-chosen.why .msg .swiper-slide div {border-radius: 48px; width: 480px; height: 130px; background-color: #faf8f6; border: 1px solid #ebe6de; display: flex; flex-wrap: wrap; align-items: center; padding-left: 30px; gap: 14px; color: #391502;}
.jh-chosen.why .msg .swiper-slide div p span {font-weight: 800; display: block;}

.jh-chosen.why .msg .swiper-slide-prev {z-index: 3; transition: 0.2s; }
.jh-chosen.why .msg .swiper-slide-active {z-index: 2; transition: 0.2s; }
.jh-chosen.why .msg .swiper-slide-next {z-index: 1; transition: 0.2s;  }

.jh-chosen.why .msg .swiper-slide:not(.swiper-slide-prev, .swiper-slide-active, .swiper-slide-next) {opacity: 0;}
.jh-chosen.why .msg .swiper-slide figure img {width: 80px; height: 80px;}


.jh-chosen.lineBanner {text-align: center; font-size: 32px; color: #fff; display: flex; align-items: center; justify-content: center;}


.jh-chosen.partygo h2 {padding-top: 150px; text-align: center;}
.jh-chosen.partygo h2 + p {font-size: 32px; color: #f8efe6; text-align: center; margin: 50px 0 60px;}
.jh-chosen.partygo h2 + p span {color: #c9a985;}

.jh-chosen.partygo figure {text-align: center;}
.jh-chosen.partygo figure img {width: 100vw; max-width: 1300px;}
.jh-chosen.partygo .inner p {color: #f8efe6; font-size: 32px;}


.jh-chosen.theychoose {background-color: #f6f0ef; height: 958px; position: relative;}
.jh-chosen.theychoose > p {font-size: 30px; color: #391502; position: absolute; left: 50%; margin-left: 115px; margin-top: 190px;}

.jh-chosen.theychoose .chosenBig {width: 50vw; max-width: 1000px; overflow: hidden;}
.jh-chosen.theychoose .chosenBig .swiper-slide {height: 958px; background-position: center center;}
.jh-chosen.theychoose .chosenSmall {position: absolute; width: 1200px; top: 500px; left: 50%; margin-left: -62px; overflow: hidden;}

.jh-chosen.theychoose .chosenBig .swiper-button-next,
.jh-chosen.theychoose .chosenBig .swiper-button-prev {left:50%; width: 51px; height: 51px; background-image: url('../images/theychoose_arr.png'); background-repeat: no-repeat; z-index: 3; background-size: 100%; margin-left: 115px; top: 785px;}
.jh-chosen.theychoose .chosenBig .swiper-button-next {transform: rotate(180deg); margin-left: 177px;}

.jh-chosen.gift .inner {width: 100%; max-width: 1748px; padding: 0 64px;}
.jh-chosen.gift .inner h3 {font-size: 34px; color: #fff; text-align: center; padding: 140px 0 64px;}
.jh-chosen.gift .inner ul {display: flex; gap: 20px;}
.jh-chosen.gift .inner ul li figure img {width: 100%;}


.jh-chosen.bgJh {}
.jh-chosen.bgJh .leftBox {position: absolute; left: 50%; margin-left: -600px; width: 600px;  color: #391502;z-index: 3;}
.jh-chosen.bgJh .leftBox > p {font-size: 30px; text-align: center; color: #391502; padding-top: 100px;}
.jh-chosen.bgJh .leftBox > p + p {padding-top: 30px;}
.jh-chosen.bgJh .leftBox ul { width: 500px; margin: 60px auto 0;}
.jh-chosen.bgJh .leftBox ul li {background-color: #faf8f6; border: 1px solid #ebe6de; border-radius: 40px;  height: 130px; display: flex; justify-content: flex-start; align-items: center; padding-left: 30px; gap: 28px;}
.jh-chosen.bgJh .leftBox ul li + li{margin-top: 30px;}
.jh-chosen.bgJh .leftBox ul li span {font-weight: 800; font-size: 16px;}
.jh-chosen.bgJh .leftBox ul li p {font-size: 20px; margin-top: 8px; line-height: 24px;}
.jh-chosen.bgJh .leftBox ul li p + small {font-size: 15px;}

.jh-chosen.bgJh .rightBox {width: 50%; height: 770px; left: 50%; position: absolute; background-position: left top ;}


.jh-chosen.bgJh .bg-animate::before {background-image: url('../images/bgJh_bg1.png'); }
.jh-chosen.bgJh .bg-animate::after {background-image: url('../images/bgJh_bg2.png');}



.bg-animate {position: relative;  background-repeat: no-repeat;  width: 100%;  height: auto;  overflow: hidden;}
.bg-animate::before,
.bg-animate::after {  content: "";  position: absolute;  inset: 0;  display: block;  background-size: cover;  background-repeat: no-repeat;    transition: opacity 1s; z-index: 0;
}


.bg-animate::before { opacity: 1; }
.bg-animate::after  { opacity: 0; }
.bg-animate.active::before { opacity: 0; }
.bg-animate.active::after  { opacity: 1; }


.jh-chosen.chosenBtn h2 {text-align: center; padding: 140px 0 40px;}
.jh-chosen.chosenBtn .c_picture {display: flex; justify-content:center; width: 100%;}
.jh-chosen.chosenBtn .c_picture figure {position: relative;}
.jh-chosen.chosenBtn .c_picture figure img {width: 100%;}
.jh-chosen.chosenBtn .c_picture figure:last-child {margin-left: -140px;}

.jh-chosen.chosenBtn .c_txt {}

.jh-chosen.chosenBtn .c_txt p {font-size: 30px; text-align: center; color: #f8efe6; padding-bottom: 48px;}
.jh-chosen.chosenBtn .c_txt .btn {margin: 0 auto;}

.jh-chosen.postcard h2 {text-align: center; padding: 140px 0 50px;}
.jh-chosen.postcard .inner dl {display: flex;}
.jh-chosen.postcard .inner dl dt {position: relative;}
.jh-chosen.postcard .inner dl dt figure {position: absolute;}
.jh-chosen.postcard .inner dl dt figure.jh {left: 240px; margin-top: 3px;}

.jh-chosen.postcard .inner dl dd {width: 600px; position: absolute; right: 0;}
.jh-chosen.postcard .inner dl dd p {font-size: 30px; color: #391502; text-align: center;}
.jh-chosen.postcard .inner dl dd p + p {padding: 40px 0 60px;}
.jh-chosen.postcard .inner dl dd a {margin: 0 auto;}

.jh-chosen.postcard .inner dl dd small {display: block; font-size: 17px; margin-top: 30px; text-align: center;}

.jh-chosen.kidsBox h2 {color: #f8efe6; font-size: 36px; font-weight: 800; text-align: center; padding: 120px 0 60px;}
.jh-chosen.kidsBox div ul {display: flex; justify-content: space-between;}
.jh-chosen.kidsBox div ul li {text-align: center; color: #f8efe6;}
.jh-chosen.kidsBox div ul li img {width: 100%;}
.jh-chosen.kidsBox div ul li h3 {font-size: 26px; font-weight: 800; margin-top: 14px;}
.jh-chosen.kidsBox div ul li p {font-size: 17px; margin-top: 16px;}


/* faqBox */
.g-camp.faqBox {background:#f4f0ea;}
.g-camp.faqBox h2 {font-size: clamp(24px, 4vw, 40px); padding: min(11.5vw, 115px) 0 min(5.4vw, 54px) 0; text-align: center; color: #391502; font-weight: 800;}
.g-camp.faqBox .inner {padding: 0 2vw;}
.g-camp.faqBox .img-list {display: flex; }
.g-camp.faqBox .img-list li {padding: 24px;}
.g-camp.faqBox .img-list li img {height: min(32vw, 303px);}

.g-camp.faqBox .partyover {font-size: clamp(14px, 2vw, 20px); color: #391502;line-height: 1.4; text-align: center; padding-bottom: min(12vw, 120px);}
.g-camp.faqBox .partyover strong {font-weight: 800;}

.tab-main {position: relative;width: 100%; padding-bottom: min(3vw, 60px);}
.tab-main input[type='radio'] {display: none;}
.tab-main .tab-main-nav {width: 100%;display: flex;justify-content: center;}
.tab-main .tab-main-nav .inBox {width: min(60vw, 600px); margin: 0 auto; background: #fff; border-radius: 30px; display: flex;}
.tab-main .tab-main-nav a {width: 50%; border-radius:30px; background-color: #fff;font-size: 24px;font-weight:700;text-align: center;cursor: pointer;transition: all .3s ease 0s; box-shadow:1px 1px 10px 5px rgba(3, 24, 41, 0.02);}
.tab-main .tab-main-nav a:last-child{margin-right:0;}
.tab-main .tab-main-nav a label { border-radius:30px; display: block; color: #391502; height: 60px; line-height: 60px;  }
.tab-main .tab-main-content {overflow: hidden;display: none;margin-top:min(5vw, 50px)}
.tab-main input[id='tab1']:checked ~ .tab-main-nav label[for='tab1'], 
.tab-main input[id='tab2']:checked ~ .tab-main-nav label[for='tab2'] {background:#bb8c5a;color:#fff;}
.tab-main input[id='tab1']:checked ~ div.tab-1, 
.tab-main input[id='tab2']:checked ~ div.tab-2 {display: block;} 
.acc-warp .accordion .acc-box {border-radius: 15px;background:#fff;margin:0 0 15px 0;padding:min(6vw, 30px) min(3.5vw, 35px);box-shadow:1px 1px 10px 5px rgba(3, 24, 41, 0.02); position:relative;} 
.acc-warp .accordion .acc-box .tit{color:#bb8c5a;font-weight:700;margin-right:min(2.4vw, 35px);line-height: 1.4;} 
.acc-warp .accordion .acc-box .acc-tab {text-align: left;}
.acc-warp .accordion .acc-box .acc-q {font-size: clamp(16px, 2.4vw, 24px); margin-bottom:30px;  font-weight:700;cursor:pointer;position:relative;}
.acc-warp .accordion .acc-box .arrow {background-image: url(../images/faq_arr.jpg);position: absolute;transform: translate(0%, -50%);width:clamp(15px, 2.8vw, 25px);height:clamp(15px, 2.8vw, 25px);right: 3%;top:50%;background-size: cover;background-repeat: no-repeat;}
.acc-warp .accordion .acc-box .acc-a {display:none; font-size: clamp(14px, 2vw, 20px); overflow: hidden;transition: height 0.2s ease, opacity 0.2s ease; padding-top: 3%;}
.acc-warp .accordion .acc-box .tit_all {display:flex;align-items: center; color:#391502; padding-right: 40px; align-items: flex-start;}
.acc-warp .accordion .acc-box.on .acc-a .a-cont{display:flex; border-top: 1px solid #eef4ea; padding-top: 3%;}
.acc-warp .accordion .acc-box.on .arrow {transform:rotate(180deg); top: min(5.4vw, 40px);}
.acc-warp .accordion .acc-a .a-cont {  display: none;}
.acc-warp .accordion .acc-box.on .acc-a {  display: block;}
.acc-warp .accordion .acc-box.on .acc-a .a-cont {  display: flex;}



@media screen and (max-width: 1480px) {
    #container .g_floating {top: 150px; right: 210px;}
    .jh-chosen .inner {padding: 0 40px;}
    
    .jh-chosen.overview {height: 74vw; background-size: cover;}
    .jh-chosen.overview > figure {left: 40%;}
    .jh-chosen.overview > figure img {width: 57.2vw;}
    .jh-chosen.overview .inner .main-tit {padding-top: 13.4vw;}
    .jh-chosen.overview .inner .main-tit h1 p + figure {margin-top: 3.3vw;}
    .jh-chosen.overview .inner .main-tit h1 p + figure img {height: 6.8vw;}

    .jh-chosen.why {height: 710px;}
    .jh-chosen.why figure.msg {margin-left:-490px; top: 220px; width: 190px;}
    .jh-chosen.why figure.jh {  width: 490px; margin-left: -480px;}
    .jh-chosen.why figure > img {width: 100%;}
    .jh-chosen.why > div > p {margin-top: 80px;}
 
    .jh-chosen.why > div > p + p {margin-top: 3vw;}
    .jh-chosen.why .msg .swiper-slide div {width: 100%;}
    .jh-chosen.why .msg {margin-top: 4vw;}

}

@media screen and (max-width: 1280px) { 
    .jh-chosen.theychoose {height: 800px;}
    .jh-chosen.theychoose > p {margin-left: 30px; margin-top: 120px;}
    .jh-chosen.theychoose .chosenSmall {top: 400px;}
    .jh-chosen.theychoose .chosenBig {width: 44vw;}
    .jh-chosen.theychoose .chosenBig .swiper-slide {height: 800px;}
    .jh-chosen.theychoose .chosenSmall {margin-left: calc(-62px - 6vw);}
    .jh-chosen.theychoose .chosenBig .swiper-button-prev {margin-left: 30px; top: 675px;}
    .jh-chosen.theychoose .chosenBig .swiper-button-next {margin-left: 92px; top: 675px;}
}

@media screen and (max-width: 1200px) {
    .jh-chosen.partygo h2 img {width: 80vw;} 
    .jh-chosen.postcard .inner dl dt figure {left: 40px;}
    .jh-chosen.postcard .inner dl dt figure img {width: 29vw;}
    .jh-chosen.postcard .inner dl dt figure.jh {left: 165px; top: 45px;}
    .jh-chosen.postcard .inner dl dt figure.jh img {width: 30vw; }

    
}     
@media screen and (max-width: 1024px) {   

    .tab-main .tab-main-content {margin-top: min(6vw, 25px);} 
    .acc-warp .accordion .acc-box {padding: min(6.5vw, 26px);}
    .acc-warp .accordion .acc-box .arrow {width: 15px; height: 15px;}
    
    .tab-main .tab-main-nav a {font-size: 20px;}
    .acc-warp .accordion .acc-box .acc-a,
    .acc-warp .accordion .acc-box .tit + p {font-size: 16px;}
    .acc-warp .accordion .acc-box .tit + p {margin-top: min(2vw, 4px);}

    .acc-warp .accordion .acc-box .arrow {right: 26px;}




}
@media screen and (max-width: 980px) { 
}
@media screen and (max-width: 768px) { 


}
@media screen and (max-width: 468px) {  
}